    * {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
}

h2 {
    font-size: 32px;
}

h4 {
    font-size: 22px;
}

/* Navigation */

.nav {
    margin: auto;
    overflow: hidden;
    border-bottom: 1px solid seashell;
    margin: auto;
    height: 69px;

}

.logo img {
    float: left;
    height: 50px;
    padding-left: 10px;
    padding-top: 5px;
}
.nav-menu {
    text-align: center;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    padding-right: 10px;
}
  
.nav-menu a {
    padding-left: 30px;
    text-decoration: underline;
}

/* Header */

.header-section {
    display: flex;
    align-items: center;
    justify-content: center; 
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 750px;
}

.header-box {
    width: 1200px;
    display: flex;
    flex: 1 1 1200px;
    flex-direction: column;
    align-items: center;
}

.header-box h2 {
    margin-bottom: 10px;
}

/* Content Section */

.content-section h2 {
    margin-top: 40px;
}

.content-section h4 {
    margin-top: auto;
}

.container {
    max-width: 1000px;
}

.content-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;   
  }
  
  .col {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;  
    padding-left: 15px;
    padding-right: 15px;   
  }

  .col h4 {
    margin-top: 10px;
    text-align: center;
  }